@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.7;
}
ul {
  list-style: none;
}
a{
    text-decoration: none;
}
body {
  background-color: #292b48;
  font-family: "Mulish", sans-serif;
}
.container {
  width: 100%;
  max-width: 100vw;
  display: grid;
  place-content: center;
  padding-top: 20rem;
  padding-bottom: 20rem;
  justify-self: center;
}
.content {
  background-color: #2f314f;
  padding: 5rem;
  width: 53.5rem;
  max-width: 95vw;
  box-shadow: 0px 50px 45px -15px rgba(18, 21, 52, 0.18);
  border-radius: 25px;
  margin: 4rem;
}
.content__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.return__icon {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.return__icon img {
  height: 1.5rem;
  width: 1.5rem;
}
.settings {
  display: flex;
  align-items: center;
}
.settings span {
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  margin-right: 0.3rem;
}
.heading {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  max-width: 17rem;
  color: #ffffff;
  margin: 1.2rem 0;
}
.info__field {
  display: flex;
  align-items: center;
  background: #292b48;
  border: 1px solid #63658a;
  box-sizing: border-box;
  border-radius: 47px;
  width: 100%;
  padding: 1.5rem 1rem 1.5rem 1.5rem;
}
.info {
  display: flex;
  align-items: center;
  background: linear-gradient(0deg, #41436b, #41436b);
  border: 1px solid #64678f;
  box-sizing: border-box;
  border-radius: 32px;
  color: #7a90bb;
  padding: 5px 25px 5px 5px;
  margin-right: .5rem;
}
.info img{
margin-right: .3rem;
}
.check-holder{
    display: flex;
    align-items: center;
    margin: 1rem 0;
}
.regular-checkbox {
	-webkit-appearance: none;
	background: #292B48;
    border: 1px solid #63658A;
    box-sizing: border-box;
    border-radius: 3px;
	padding: 9px;
	display: inline-block;
	position: relative;
    margin-right: .4rem;
}
.regular-checkbox:active, .regular-checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked {
	background: #292B48;
    box-sizing: border-box;
    border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #7a90bb;
}
.regular-checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #7a90bb;
}
.checkbox-text{
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 23px;
    color: #fff;
}
.feedback__section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.feedback__link{
    color: #717FFF;
    display: block;
    text-align: left;
    margin-bottom: 1rem;
}
.btn{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    background: none;
    outline: none;
    border: 1px solid #292B48;
    color: #fff;
    background: linear-gradient(0deg, #292B48, #292B48);
    border-radius: 5px;
    padding: 15px 30px;
    margin-right: 1.5rem;
    font-weight: 400;
    transition: all 0.2s;
    cursor: pointer;
}
.btn-dark{
    border: 1px solid #717FFF;
    background: linear-gradient(0deg, #717FFF, #717FFF);
}
@media  (min-width: 320px) and (max-width: 640px) {
    .content{
        margin: 2rem;
    }
  .info__field{
      flex-direction: column;
      padding: 1rem;
  }
  .info{
      margin-top: .5rem;
  }
   .feedback__section{
       flex-direction: column;
   }
   .feedback__link{
    margin: 0 .4rem;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
}